<footer class="{{class}}">
  <div class="container">
    <div class="row g-2 g-lg-6 mb-8">
      <div class="col-lg-6 pt-5 pt-xl-10 d-none d-lg-block">
        <h4>Brisbane, QLD <br>Australia 4000</h4>
      </div>
      <div class="col-lg-6 text-center text-lg-end">
        <img src="./assets/images/logo/dsco-logo-full-white.png" alt="DSCO Logo" style="width:200px;" />
      </div>
    </div>
    <div class="row mb-8">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row g-0 g-lg-6 text-secondary">
      <div class="col-lg-6 text-center text-lg-end order-lg-2">
        <!-- <ul class="list-inline">
          <li class="list-inline-item"><a target="_blank" href="https://facebook.com" class="text-reset">facebook</a></li>
          <li class="list-inline-item ms-1"><a target="_blank" href="https://twitter.com" class="text-reset">twitter</a></li>
          <li class="list-inline-item ms-1"><a target="_blank" href="https://linkedin.com" class="text-reset">linkedin</a></li>
        </ul> -->
      </div>
      <div class="col-lg-6 text-center text-lg-start order-lg-1">
        <p>Copyright Digital Supply &copy; 2023</p>
      </div>
    </div>
  </div>
</footer>
